{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
添加地图
{% endblock %}

{% block my_css %}
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
{% endblock %}

{% block content %}

    <div class="layui-fluid">

        <div class="">

            <table class="layui-table">
                <colgroup>
                    <col width="50">
                    <col width="50">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>id</th>
                    <th>经度</th>
                    <th>纬度</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>介绍</th>
                    <th>视频</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for address in all_address %}

                <tr>
                    <td>{{ address.id }}</td>
                    <td>{{ address.latitude }}</td>
                    <td>{{ address.longitude }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.phone }}</td>
                    <td>{{ address.desc }}</td>
                    <td>{{ address.video }}</td>
                    <td>
                        <span>修改</span>
                        <span>删除</span>
                    </td>
                </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
