{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>百度地图后台</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">地图后台系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    map
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出/登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->

        <div id="allmap">

        </div>

    </div>
    <div>

        <script id="title-item" type="text/html">

            {% verbatim %}

            {{ each titles title index }}

            <div class="map-video" id="map-video">
                <div class="video">
                    <video controls>
                        <source src="{{ title.video }}" type="video/mp4">
                    </video>
                </div>
                <div class="title">
                    <p>地址：{{ title.address }}</p>
                    <p>电话：{{ title.phone }}</p>
                    <p>详情介绍：{{ title.desc }}</p>
                </div>
            </div>

            {{ /each }}

            {% endverbatim %}

        </script>

    </div>
</div>


<script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=pZF01A8WFzR6orPXQQ6IwwIgG6ZlP9Ix"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<script src="{% static 'js/layui.js' %}"></script>
<script src="{% static 'js/bdmap.js' %}"></script>
<script src="{% static 'js/template-web.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{#<script>#}
{#    layui.use(['element', 'jquery', 'layer'], function () {#}
{#        var $ = layui.$,#}
{#            layer = layui.layer,#}
{#            element = layui.element;#}
{##}
{#        $(function () {#}
{#            var address_latitude ={{ address_latitude |safe}};#}
{#            var address_longitude ={{ address_longitude|safe }};#}
{##}
{#            var point = []; //存放标注点经纬信息的数组#}
{#            var marker = []; //存放标注点对象的数组#}
{#            var map = new BMap.Map("allmap");#}
{#            map.centerAndZoom("上海", 15); // 设置显示中心点#}
{#            map.enableScrollWheelZoom(true); // 设置鼠标滚轮缩放#}
{##}
{#            var navigationControl = new BMap.NavigationControl({#}
{#                // 靠左上角位置#}
{#                anchor: BMAP_ANCHOR_TOP_LEFT,#}
{#                // LARGE类型#}
{#                type: BMAP_NAVIGATION_CONTROL_LARGE,#}
{#                // 启用显示定位#}
{#                enableGeolocation: true#}
{#            });#}
{#            map.addControl(navigationControl); // 设置左上角控件#}
{##}
{#            for (var i = 0; i < address_longitude.length; i++) {#}
{#                point[i] = new BMap.Point(address_longitude[i], address_latitude[i]); //循环生成新的地图点#}
{#                var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif",new BMap.Size(300,160));#}
{#                marker[i] = new BMap.Marker(point[i],{icon:myIcon});#}
{#                map.addOverlay(marker[i]); // 按照地图点坐标生成标记#}
{##}
{#                var opts = {#}
{#                panel:'panel',#}
{#                enableMessage:true,#}
{#                enableAutoPan : true,     //自动平移#}
{#			    searchTypes   :[#}
{#				BMAPLIB_TAB_SEARCH,   //周边检索#}
{#				BMAPLIB_TAB_TO_HERE,  //到这里去#}
{#				BMAPLIB_TAB_FROM_HERE //从这里出发#}
{#			]#}
{#            };#}
{##}
{#            var searchInfoWindow = null;#}
{#            searchInfoWindow = new BMapLib.SearchInfoWindow(map,opts);#}
{##}
{#                addClickHandler(marker[i],i);#}
{#            }#}
{##}
{#            function addClickHandler(marker,i) {#}
{#                marker.addEventListener('click',function (e) {#}
{#                    openInfo(e);#}
{#                    searchInfoWindow.open(marker);#}
{#                    console.log(i);#}
{##}
{#                    $.ajax({#}
{#                       type:'get',#}
{#                        url:'/baidu/get_title/',#}
{#                        data:{#}
{#                           id:i#}
{#                        },#}
{#                        'success':function (result) {#}
{#                           if (result['code'] === 200){#}
{#                               var titles = result['data'];#}
{#                               console.log(titles);#}
{#                               var body = $('.BMapLib_bubble_content');#}
{#                               var html = template('title-item',{'titles':titles});#}
{##}
{#                               body.append(html);#}
{#                               alert('添加成功！');#}
{##}
                               {#document.getElementById('comment-desc').innerHTML = html;#}
{#                           }#}
{#                        }#}
{#                    });#}
{#                });#}
{#            }#}
{##}
{#            function openInfo(e) {#}
{#                var p = e.target;#}
{#                var point = new BMap.Point(p.getPosition().lng,p.getPosition().lat);#}
{#                var infoWindow = new BMap.InfoWindow(opts); // 创建信息窗口对象#}
{#                map.openInfoWindow(infoWindow,point); // 开启信息窗口\#}
{#            }#}
{#        });#}
{#     });#}
{#</script>#}


<script>
    layui.use(['element', 'jquery', 'layer'], function () {
        var $ = layui.$,
            layer = layui.layer,
            element = layui.element;

        $(function () {
            var address_latitude ={{ address_latitude |safe}};
            var address_longitude ={{ address_longitude|safe }};

            var point = []; //存放标注点经纬信息的数组
            var marker = []; //存放标注点对象的数组
            var map = new BMap.Map("allmap");
            map.centerAndZoom("上海", 15); // 设置显示中心点
            map.enableScrollWheelZoom(true); // 设置鼠标滚轮缩放

            var navigationControl = new BMap.NavigationControl({
                // 靠左上角位置
                anchor: BMAP_ANCHOR_TOP_LEFT,
                // LARGE类型
                type: BMAP_NAVIGATION_CONTROL_LARGE,
                // 启用显示定位
                enableGeolocation: true
            });
            map.addControl(navigationControl); // 设置左上角控件

            for (var i = 0; i < address_longitude.length; i++) {
                point[i] = new BMap.Point(address_longitude[i], address_latitude[i]); //循环生成新的地图点
                var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif",new BMap.Size(300,160));
                marker[i] = new BMap.Marker(point[i],{icon:myIcon});
                map.addOverlay(marker[i]); // 按照地图点坐标生成标记
                addClickHandler(marker[i],i);

                var opts = {
                    width : 250,     // 信息窗口宽度
                    height: 80,     // 信息窗口高度
                    title : "信息窗口" , // 信息窗口标题
                    enableMessage:true//设置允许信息窗发送短息
                };
            }

            function addClickHandler(marker,i) {
                marker.addEventListener('click',function (e) {
                    console.log(i);

                    $.ajax({
                       type:'get',
                        url:'/baidu/get_title/',
                        data:{
                           id:i
                        },
                        'success':function (result) {
                           if (result['code'] === 200){
                               var titles = result['data'];
                               console.log(titles);
                               var body = $('.BMapLib_bubble_content');
                               var html = template('title-item',{'titles':titles});

                               body.append(html);
                               {#alert('添加成功！');#}
                               openInfo(html,e);

                               {#document.getElementById('comment-desc').innerHTML = html;#}
                           }
                        }
                    });
                });
            }

            function openInfo(html,e) {
                var p = e.target;
                var point = new BMap.Point(p.getPosition().lng,p.getPosition().lat);
                var infoWindow = new BMap.InfoWindow(html); // 创建信息窗口对象
                map.openInfoWindow(infoWindow,point); // 开启信息窗口\
            }
        });
     });
</script>


</body>
</html>