<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="BMapLib_nav" id="BMapLib_nav0">
    <ul class="BMapLib_nav_tab" id="BMapLib_nav_tab0">
        <li class="BMapLib_current BMapLib_first" id="BMapLib_tab_search0" style="display: block; width: 99px;"><span
                class="BMapLib_icon BMapLib_icon_nbs"></span>在附近找
        </li>
        <li class="" id="BMapLib_tab_tohere0" style="display: block; width: 99px;"><span
                class="BMapLib_icon BMapLib_icon_tohere"></span>到这里去
        </li>
        <li class="" id="BMapLib_tab_fromhere0" style="display: block; width: 100px;"><span
                class="BMapLib_icon BMapLib_icon_fromhere"></span>从这里出发
        </li>
    </ul>
    <ul class="BMapLib_nav_tab_content">
        <li id="BMapLib_searchBox0" style="display: block;">
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td style="padding-left:8px;"><input id="BMapLib_search_text0" class="BMapLib_search_text"
                                                         type="text" maxlength="100" autocomplete="off"></td>
                    <td width="55" style="padding-left:7px;"><input id="BMapLib_search_nb_btn0" type="submit" value="搜索"
                                                                    class="iw_bt"></td>
                </tr>
                </tbody>
            </table>
        </li>
        <li id="BMapLib_transBox0" style="display: none;">
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td width="30" style="padding-left:8px;">
                        <div id="BMapLib_stationText0">起点</div>
                    </td>
                    <td><input id="BMapLib_trans_text0" class="BMapLib_trans_text" type="text" maxlength="100"
                               autocomplete="off"></td>
                    <td width="106" style="padding-left:7px;"><input id="BMapLib_search_bus_btn0" type="button"
                                                                     value="公交" class="iw_bt" style="margin-right:5px;"><input
                            id="BMapLib_search_drive_btn0" type="button" class="iw_bt" value="驾车"></td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>


</body>
</html>